# Ambiente Virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Arquivos de banco de dados local
db.sqlite3

# Configurações específicas de ambiente
.env

# Arquivos estáticos e de mídia (opcional, se forem gerados)
/staticfiles/
/media/
